<div class="row">
  <div class="col-3">
      <h3>{{branchName}}</h3>
  </div>
  
<div class="col-9">
  <div class="float-right">
    <button [disabled]="disableFilter" type="button" class="btn btn-primary" 
    data-toggle="collapse" data-target="#multiCollapseExample1" 
    aria-expanded="false" aria-controls="multiCollapseExample1"
    (click)="pivotTables()">
    <i class="fa fa-filter" aria-hidden="true"></i>
    filter
    </button>
  </div>
</div>
</div>

<div class="collapse multi-collapse" id="multiCollapseExample1">
  <div class="card card-body" id="multiCollapseExample1">
  <div class="row">
    <div class="col-4">

      <select #filterSelect class="custom-select" (change)="setSelectedFilter(filterSelect.value)">
        <option selected value="0">Search By</option>
        <option value="1">Date</option>
        <option value="2">Author</option>
        <option value="3">Message</option>
        <option value="4">sha</option>
      </select>

      

    </div>
    <div class="col-8" [ngSwitch]="selectedFilter">
        <div *ngSwitchCase="1">
          
          <label for="dateFromid" class="bmd-label-static text-customgreen">Date from: </label>
          <input id="dateFromid" #dateFrom type="date">
          
          <label for="dateToid" class="bmd-label-static text-customgreen">Date to:</label>
          <input #dateTo type="date">
          
          <button (click)="searchCriteria(dateFrom.value+'*'+dateTo.value)" class="btn btn-outline-primary" type="button">Search</button>
        </div>
  
        <div *ngSwitchCase="2">
          <div class="input-group">
            <input #authorText type="text" class="form-control" aria-label="Author">
            <div class="input-group-append">
              <button (click)="searchCriteria(authorText.value)" class="btn btn-outline-primary" type="button">Search</button>
            </div>
          </div>
        </div>
        
        <div *ngSwitchCase="3">
          <textarea #messageText class="form-control"></textarea>
          <div class="float-right">
            <br>
            <button (click)="searchCriteria(messageText.value)" type="button" class="btn btn-outline-primary">Search</button>
          </div>
        </div>
  
        <div *ngSwitchCase="4">
          <div class="input-group">
            <input #shaText type="text" class="form-control" aria-label="sha">
            <div class="input-group-append">
              <button  (click)="searchCriteria(shaText.value)" class="btn btn-outline-primary" type="button">Search</button>
            </div>
          </div>
        </div>
  
        <div *ngSwitchDefault>Please, select a valid filter criteria.</div>
        
      </div>

  </div>
  </div>
</div>

<br>
<div *ngIf="commitsToShow?.length || emptyFlag">
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">sha</th>
      </tr>
    </thead>
    <tbody *ngFor="let commit of commitsToShow; let i = index">
      <tr data-toggle="modal" data-target="#commitModalCenter" class="table-light" (click)="loadCommit(commit)">
        <td>{{commit.message | slice:0:80 }}...</td>
        <td>{{commit.author}}</td>
        <td>{{commit.commitDate}}</td>
        <td>{{commit.sha8}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!commitsToShow?.length && emptyFlag" class="alert alert-warning" role="alert">
  Commits not Found
</div>


<div *ngIf="commitsToShow?.length && commits?.length > 5">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item page-link-fixed">
      <a class="page-link" (click)="paginationBackward()">Previous</a>
    </li>
    <li *ngIf="pages[0] > 1 " class="page-item page-link-fixed">
      <a class="page-link page-link-fixed" (click)="adjustPagesBackward()">
        ...
      </a>
    </li>
    <li *ngFor="let page of pages; let i = index" class="page-item page-link-fixed" 
    [class.active]=" page  === pageNumber">

    <div *ngIf="page > 0; else elseBlock">
      <a class="page-link page-link-fixed" (click)="setPageNumber(page, i+1)">
        {{ page }}
      </a>
    </div>
    <ng-template #elseBlock>
      <a class="page-link page-link-fixed" (click)="adjustPagesForward()">
        ...
      </a>
    </ng-template>
    </li>
    <li class="page-item page-link-fixed"><a class="page-link" (click)="paginationForward()">Next</a></li>
  </ul>
</nav>
</div>


<!-- Modal TODO: Pasar esto a un componente independiente -->
<div class="modal fade" id="commitModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div *ngIf="commit" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Commit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">sha</label>
        <p class="font-weight-normal">{{commit.sha8}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Commit Date</label>
        <p class="font-weight-normal">{{commit.commitDate}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Author</label>
        <p class="font-weight-normal">{{commit.author}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Commit Message</label>
        <p class="font-weight-normal" [innerHTML]="commit.message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a routerLink="/commit/{{commit.sha}}" data-dismiss="modal">
          <button type="button" class="btn btn-primary">Show More </button>
        </a>
        <a routerLink="/commit/{{commit.sha}}" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div *ngIf="!commitsToShow?.length && !emptyFlag">
<div class="progress">
  <div class="indeterminate"></div>
</div>
</div>