<h3>{{branchName}}</h3>
<br>
<div *ngIf="commitsToShow?.length">
  <table class="table table-sm table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Message</th>
        <th scope="col">Author</th>
        <th scope="col">Date</th>
        <th scope="col">sha</th>
      </tr>
    </thead>
    <tbody *ngFor="let commit of commitsToShow; let i = index">
      <tr data-toggle="modal" data-target="#commitModalCenter" class="table-light" (click)="loadCommit(commit)">
        <td>{{commit.message | slice:0:80 }}...</td>
        <td>{{commit.author}}</td>
        <td>{{commit.commitDate}}</td>
        <td>{{commit.sha8}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div *ngIf="commitsToShow?.length && commits?.length > 5">
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item page-link-fixed">
      <a class="page-link" (click)="paginationBackward()">Previous</a>
    </li>
    <li *ngIf="pages[0] > 1 " class="page-item page-link-fixed">
      <a class="page-link page-link-fixed" (click)="adjustPagesBackward()">
        ...
      </a>
    </li>
    <li *ngFor="let page of pages; let i = index" class="page-item page-link-fixed" 
    [class.active]=" page  === pageNumber">

    <div *ngIf="page > 0; else elseBlock">
      <a class="page-link page-link-fixed" (click)="setPageNumber(page, i+1)">
        {{ page }}
      </a>
    </div>
    <ng-template #elseBlock>
      <a class="page-link page-link-fixed" (click)="adjustPagesForward()">
        ...
      </a>
    </ng-template>
    </li>
    <li class="page-item page-link-fixed"><a class="page-link" (click)="paginationForward()">Next</a></li>
  </ul>
</nav>
</div>


<!-- Modal TODO: Pasar esto a un componente independiente -->
<div class="modal fade" id="commitModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div *ngIf="commit" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Commit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="exampleInputEmail1" class="bmd-label-static">sha</label>
        <p class="font-weight-normal">{{commit.sha8}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static">Commit Date</label>
        <p class="font-weight-normal">{{commit.commitDate}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static">Author</label>
        <p class="font-weight-normal">{{commit.author}}</p>
        <label for="exampleInputEmail1" class="bmd-label-static">Commit Message</label>
        <p class="font-weight-normal" [innerHTML]="commit.message"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a routerLink="/commit/{{commit.sha}}" data-dismiss="modal">
          <button type="button" class="btn btn-primary">Show More </button>
        </a>
        <a routerLink="/commit/{{commit.sha}}" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>



<div *ngIf="!commitsToShow?.length">
<div class="progress">
  <div class="indeterminate"></div>
</div>
</div>