<!--
<div *ngIf="commit" class="card">
  <div class="card-body">
        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Author</label>
        <p class="font-weight-normal">{{commit.author}}</p>

        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen" id="roger">sha</label>
        <p class="font-weight-normal">{{commit.sha}}</p>

        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Commit Date</label>
        <p class="font-weight-normal">{{commit.commitDate}}</p>

        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Commit Message</label>
        <p class="font-weight-normal" [innerHTML]="commit.message"></p>

        <label for="exampleInputEmail1" class="bmd-label-static text-customgreen">Modified Files</label>
        <p class="font-weight-normal">Archivos Modificados Aqui</p>
  </div>
</div 
Application\Core\EJBAcsel-e\src\com\consisint\acsele\policy\session
-->
<div *ngIf="commit" class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <label for="commitAuthor" class="bmd-label-static text-customgreen">Author</label>
          <p class="font-weight-normal" id="commitAuthor">{{commit.author}}</p>
          <img src="https://www.gravatar.com/avatar/ec9b65e083741ca7d7dcc73f0f744678" />
        </div>
        <div class="col">
        <label for="commitSHA" class="bmd-label-static text-customgreen">sha</label>
        <p class="font-weight-normal" id="commitSHA">{{commit.sha}}</p>
        <br>
        <label for="commitDate" class="bmd-label-static text-customgreen">Commit Date</label>
        <p class="font-weight-normal" id="commitDate">{{commit.commitDate}}</p>
        </div>
        <div class="col-6">
        <label for="commitMessage" class="bmd-label-static text-customgreen">Commit Message</label>
        <p class="font-weight-normal" id="commitMessage" [innerHTML]="commit.message"></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
            <label for="modifiedFiles" class="bmd-label-static text-customgreen">Modified Files</label>
            <div class="table-responsive" id="modifiedFiles">
              <table class="table table-sm" style="white-space: nowrap;">
                <thead>
                  <tr>
                    <th scope="col">File Path</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><!-- Edicion de archivo -->
                    <a href="#" class="badge badge-primary" data-toggle="popover" title="Popover title" 
                    data-content="And here's some amazing content. It's very engaging. Right?">
                Application\Core\EJBAcsel-e\src\com\consisint\acsele\policy\session\PolicySessionWrapper.java</a>
                    </td>
                  </tr>
                  <tr>
                    <td><!-- nuevo archivo -->
                        <a class="badge badge-success" data-toggle="popover" title="Popover title" 
                    data-content="And here's some amazing content. It's very engaging. Right?">
                Application\Core\EJBAcsel-e\src\com\consisint\acsele\policy\session\OperationPK.java</a>
                    </td>
                  </tr>
                    <tr>
                    <td><!-- archivo borrado -->
                        <a class="badge badge-danger" data-toggle="popover" title="Popover title" 
                    data-content="And here's some amazing content. It's very engaging. Right?">
                Application\Core\EJBAcsel-e\src\com\consisint\acsele\policy\session\UserBean.java</a>
                    </td>
                  </tr>
                    <tr>
                    <td><!-- archivo renombrado -->
                        <a class="badge badge-primary" data-toggle="popover" title="Popover title" 
                    data-content="And here's some amazing content. It's very engaging. Right?">
                Application\Core\EJBAcsel-e\src\com\consisint\acsele\policy\session\PolicySession.java</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="col-8">
        <label for="commitDiff" class="bmd-label-static text-customgreen">Commit Diff</label>
            <div class="table-responsive" id="commitDiff">
                <table class="table table-sm table-bordered" style="white-space: nowrap;">
                  <thead>
                    <tr>
                      <th scope="col">#+</th>
                      <th scope="col">#-</th>
                      <th scope="col">Last</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>@@ -1,10 +1,6 @@</th>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="row">1</th>
                      <th scope="row">1</th>
                      <td>package com.consisint.acsele.batchprocessing.api.file.error;-----------------------------------------------</td>
                    </tr>
                    <tr class="table-danger">
                      <th scope="row"></th>
                      <th scope="row">2</th>
                      <td>import com.consisint.acsele.util.AcseleConf;</td>
                    </tr>
                    <tr class="table-success">
                      <th scope="row">2</th>
                      <th scope="row"></th>
                      <td>import com.consisint.acsele.util.*;---------------------------------------------------------------------------------------------------------------------------------------------</td>
                    </tr>
                    <tr class="table-secondary">
                      <th scope="row">3</th>
                      <th scope="row">3</th>
                      <td>import com.consisint.acsele.util.logging.AcseleLogger;</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

