<!-- Opcion 2.1 -->
<div *ngIf="commit" class="card">
  <div class="card-body">
    <div class="container">

        <div class="row">
            <!-- Commits iformation and Modified Files-->
            <div class="col-5">
                <div class="container">

                  <!-- Commit Details -->
                  <label for="commitDetails" class="bmd-label-static text-customgreen">Commit Details</label>
                  <div class="row" id="commitDetails">
                    <div class="col-2">
                      <img src="https://www.gravatar.com/avatar/ec9b65e083741ca7d7dcc73f0f744678?s=68"/>
                    </div>

                    <div class="col-10">
                      <p class="font-weight-normal">
                        <b>Commit:</b> {{commit.sha}} <b>[</b>{{commit.sha8}}<b>]</b><br>
                        <b>Date:</b> {{commit.commitDate}}<br>
                      </p>
                    </div>
                    
                  </div>

                    <div class="row">
                        <div class="col">
                          <p class="font-weight-normal" >
                            <b>Author:</b> {{commit.author}}<br>
                            <b>Commiter:</b>TODO<br>
                          </p>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col">
                          <!-- Commited Files -->
                          <label for="modifiedFiles" class="bmd-label-static text-customgreen">Modified Files</label>
                          <div class="table-responsive" id="modifiedFiles">
                            <table class="table table-sm" style="white-space: nowrap;">
                              <thead>
                                <tr>
                                  <th scope="col">File Path</th>
                                </tr>
                              </thead>
                              <div *ngIf="committedFiles?.length">
                              <tbody *ngFor="let committedFile of committedFiles">
                                <tr *ngIf="committedFile.modificationType == 'M'; else addedBlock">
                                  <td><!-- Edicion de archivo -->
                                    <a (click)="refreshDiffView(committedFile)" class="badge badge-primary" data-toggle="popover" title="Popover title"
                                    data-content="And here's some amazing content. It's very engaging. Right?">
                                    {{committedFile.filePath}}</a>
                                  </td>
                                </tr>
                                <ng-template #addedBlock>
                                  <tr *ngIf="committedFile.modificationType == 'A'; else erasedBlock">
                                    <td><!-- nuevo archivo -->
                                      <a (click)="refreshDiffView(committedFile)" class="badge badge-success" data-toggle="popover" title="Popover title"
                                      data-content="And here's some amazing content. It's very engaging. Right?">
                                      {{committedFile.filePath}}</a>
                                    </td>
                                  </tr>
                                </ng-template>
                                <ng-template #erasedBlock>
                                  <tr *ngIf="committedFile.modificationType == 'D'; else reanamedBlock">
                                    <td><!-- archivo borrado -->
                                      <a (click)="refreshDiffView(committedFile)" class="badge badge-danger" data-toggle="popover" title="Popover title"
                                      data-content="And here's some amazing content. It's very engaging. Right?">
                                      {{committedFile.filePath}}</a>
                                    </td>
                                  </tr>
                                </ng-template>
                                <ng-template #reanamedBlock>
                                  <tr>
                                    <td><!-- archivo renombrado -->
                                      <a (click)="refreshDiffView(committedFile)" class="badge badge-primary" data-toggle="popover" title="Popover title"
                                      data-content="And here's some amazing content. It's very engaging. Right?">
                                      {{committedFile.filePath}}</a>
                                    </td>
                                  </tr>
                              </ng-template>
                              </tbody>
                              </div>
                            </table>
                          </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Diff Changes -->
            <div class="col-7">
              <!-- Commit Message-->
              <label for="commitMessage" class="bmd-label-static text-customgreen">Commit Message</label>
              <p class="font-weight-normal" id="commitMessage" [innerHTML]="commit.message"></p>
            </div>

        </div>
    </div>
    <hr>
    <!-- Commit Diff -->
    <label for="commitDiff" class="bmd-label-static text-customgreen">Commit Diff</label>
    <div [innerHtml]="selectedDiffs" id="commitDiff"></div>
  </div>
</div>
